.vscode/
__pycache__/

.hf_models/
.hf_models_latest/
.models_cache_prod/
.models_cache/
external_datasets/
text_data/*


data/*.json
data/metamap_sent/*
data/baselines/*
data/graphs/*
data/external_ds/*
.data_cache/*
results/*
temp/*
!temp/keane_dataset.json


*.pyc
twitter_keys.py
!.gitkeep
*.props